---
import SocialLinks from "./SocialLinks.astro";
const w="24"
const h="24"
---

<footer class="bg-[rgb(245,232,255)]">
  <div
    class="max-w-6xl h-min mx-auto px-4 py-2 flex flex-col justify-between items-center gap-2"
  >
    <nav aria-label="Footer navigation">
      <ul class="w-full flex flex-col gap-2 items-center py-2 text-purple-700">
        <li><a href="/" class="text-sm hover:text-purple-500">Home</a></li>
        <li>
          <a href="/products" class="text-sm hover:text-purple-500">Products</a>
        </li>
        <li><a href="/blog" class="text-sm hover:text-purple-500">Blog</a></li>
        <li>
          <a href="/about" class="text-sm hover:text-purple-500">About</a>
        </li>
      </ul>
    </nav>

    <SocialLinks witdh={w} height={h} />

    <p class="text-purple-700 text-sm text-center w-full mt-4">
      © 2023 DALAS. All rights reserved.
    </p>
  </div>
</footer> 
