---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE_ABOUT, SITE_DESCRIPTION_ABOUT } from '../consts';


const { title, description, } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE_ABOUT} description={SITE_DESCRIPTION_ABOUT} />
	</head>

	<body>
		<Header />
		<main>
			<article class="flex flex-col justify-center items-center w-[80%]  md:w-[60%] gap-4">
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
